%section#commands
  .line-behind-text
    %h1 Commands
  %table
    %col{ width: '100px' }
    %col{ width: '500px' }
    %col
    %col{ width: '100px' }
    %tr
      %th Name
      %th Example
      %th Description
      %th
    - Command.all.each do |command|
      %tr
        %td
          %b= command.name
        %td
          %a{ href: "/search?q=#{command.name}%20#{command.example}"}= "#{command.name} #{command.example}"
        %td
          %i= command.description
        %td
          %a{ href: "/commands/#{command.id}/edit" } edit
  %a{ href:"/commands/new" } New Command
